html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.main {
  opacity: 20%;
}

.module-window {
  width: 500px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
}
.difficulty-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.difficulty-btns button {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  border: none;
  transition: all 0.5s;
}

.difficulty-btns button:after {
  opacity: 0;
  transition: 0.5s;
}

.difficulty-btns button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.difficulty-btns button:hover:after {
  opacity: 1;
  right: 10px;
}

.easy-btn {
  background: lightgreen;
}
.easy-btn:hover {
  background: rgb(74, 240, 74);
}
.hard-btn {
  background: rgb(245, 119, 119);
}
.hard-btn:hover {
  background: rgb(250, 88, 88);
}

.hidden {
  opacity: 0;
  display: none;
}

#myImg {
  width: 1440px;
  margin-top: 100px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.square {
  width: 50px;
  height: 50px;
  border: 3px solid red;
}

.square-hidden {
  display: none;
  opacity: 0;
}

.char-module {
  width: 60px;
  padding: 5px;
  border: 3px solid orange;
  border-radius: 5px;
  background-color: rgba(255, 166, 0, 0.493);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.char {
  margin: 0;
  width: 50px;
  margin: 5px;
}

.nav-imgs {
  display: flex;
  justify-content: space-around;
}
.nav-img {
  width: 45px;
  height: 45px;
  padding: 5px;
}

.nav-timer {
  width: 150px;
  font-size: 18px;
}

.gameover-module {
  width: 500px;
  height: 150px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: grey;
  color: white;
}
.retry-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  border: none;
  transition: all 0.5s;
}

.retry-btn:after {
  opacity: 0;
  transition: 0.5s;
}

.retry-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
  background-color: rgb(74, 240, 74);
}
